@use '../base/variables' as *;

// MOBILE FIRST
.card {
    background-color: $color-light;
    border-style: none;
}

// TABLET / DESKTOP
@media (min-width: 767.9px) {
    .card {
        border-style: solid;
        
        .card-body {
            height: 200px;
        }
    }
}

@media (min-width: 991.9px) {
    .card {
        
        }
    
}

@media (min-width: 1199.9px) {
    .card {
        
        }
    
}