@use '../base/variables' as *;

// MOBILE FIRST
.subpage {
    padding-top: 76px;
}
// TABLET / DESKTOP
@media (min-width: 767.9px) {
    .subpage {
        padding: 0px 80px 0px 80px;
        margin-top: 76px;
    }
}

@media (min-width: 991.9px) {
    .subpage {
        padding: 0px 80px 0px 80px;

        .subpage__card-container {
            padding: 50px 0px 50px 0px;
        }
    }
}