@use '../base/variables' as *;

.works {
    border: solid 1px;
}
// TABLET / DESKTOP
@media (min-width: 767.9px) {
    .works {
        margin: 0px 120px 0px 120px;
    }
}

@media (min-width: 1199.9px) {
    .works {
        margin: 0px 240px 0px 240px;
    }
}